<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des catways</title>
</head>
<body>

    <h1>Catway Details</h1>
    <p>Numéro de pont: <%= catway.catwayNumber %></p>
    <p>Type: <%= catway.type %></p>
    <p>Description de l'état: <%= catway.catwayState %></p>

    <div>
        <h2>Lien pour retourner sur le tableau de bord</h2>
        <div>
            <p>Lien vers le tableau de bord :<a href="/dashboard">Lien</a></p>
        </div>

    </div>

</body>